@{
    ViewBag.Title = "Index";

    DateTime FromDate = Convert.ToDateTime(ViewBag.FromDate);
    DateTime ToDate = Convert.ToDateTime(ViewBag.ToDate);
    


    var StartDate = FromDate.Day;
    var StartMonth = FromDate.Month - 1;
    var StartYear = FromDate.Year;

    var EndDate = ToDate.Day;
    var EndMonth = ToDate.Month;
    var EndYear = ToDate.Year;
}
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>Starting Date</label>
    <input type="date" id="txtFromDate"  name="txtFromDate" class="col-md-3 from-date" /><br />

    <label>End Date</label>
    <input type="date" id="txtToDate" name="txtToDate" class="col-md-3 to-date " /><br />

    <input type="submit" id="submitDates" value="Submit" />
    <input type="button" onclick="abc();" id="submitDates1" value="Click" />
    
}

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>*@
    <style>
        th,td{
            text-align:center;
        }
        .highlighter
        {
            background-color:yellow;
        }
    </style>
</head>

<body>
    <div id="sub4">See the Result</div>
    <script language="JavaScript">
        var str = "";
        if (parseInt(@ViewBag.dateSpan) > 0) {
            abc();
        }
        function abc() {
            debugger;
            var dt = new Date("@StartYear","@StartMonth","@StartDate");//document.getElementById("txtFromDate").value);
            var monthadd = 0;
            var yearadd = 0;
            for (var i = 0; i <= @ViewBag.dateSpan ; i++) {
                debugger;
                if (i != 0) {
                    monthadd=1;
                }
                var month = dt.getMonth() + monthadd; // read the current month
                if (month > 11) {
                    month = 0;
                    yearadd = 1;
                }
                else
                {
                    yearadd = 0;
                }
                var year = dt.getFullYear() + yearadd; // read the current year
                months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
                dt = new Date(year, month, 01);//Year , month,date format
                var first_day = dt.getDay(); //, first day of present month
                dt.setMonth(month + 1, 0); // Set to next month and one day backward.
                var last_date = dt.getDate(); // Last date of present month
                var dy = 1; // day variable for adjustment of starting date.
                str += "<h4>"+ year +" / "+months[month]+"</h4><table border=1 bgcolor='#f1f1f1'><tr><td colspan=7 align=right>";
                str += " </td></tr>";
                str += "<tr><td style='color:red'>S</td><td>M</td><td>T</td><td>W</td>";
                str += "<td>T</td><td>F</td><td>S</td></tr>";
                for (j = 0; j <= 41; j++) {
                    if ((j % 7) == 0) { str += "</tr><tr>"; } // if week is over then start a new line
                    if ((j >= first_day) && (dy <= last_date)) {
                        str += "<td class='" + year + "-" + (month + 1) +"-"+ dy +"'>" + dy + "</td>";
                        dy = dy + 1;
                    } else { str += "<td>*</td>"; } // Blank dates.
                } // end of for loop
                str += "</tr></table>";
                debugger;
            }
            //setVisibility(str);
            document.getElementById("sub4").innerHTML = str;

            var JsonData = ("@ViewBag.lstSundays").split(",");
            console.log(JsonData);
            for (var k = 0; k < JsonData.length; k++)
            {
                $("." + JsonData[k]).addClass("highlighter");
            }

        }
        //function setVisibility(str1) {
        //    debugger;
        //    console.log(str1);
        //    if (str1 != null || str1 != "") {
        //        //$("#sub4").html(str1);
        //        document.getElementById("sub4").innerHTML = ""; //str1;
        //        document.getElementById("sub4").innerHTML = str1;
        //        //document.getElementById(id).style.display = visibility;
        //    }
        //}
    </script>
    
</body>
</html>